{% extends "layout.html" %}

{% block main %}
        <main class="index-main" style="padding: 0rem 0rem 3.2rem 0rem">
            <div class="container-fluid">
            <div class="row" style="font-family: Georgia, serif;">
                <div class="col-lg-3 col-sm-1"></div>
                <div class="col-lg-6 col-sm-10">
                    <div style="padding: 6.25rem 0rem;"></div>
                    <div style="text-align: center; padding: 0rem 0rem 0rem 0rem; background-color: #ffffff; border-radius: 1.5rem;">
                        <img src="static/homepage-images/profile-pic.png" alt="profile-pic" height="200"; width="200"; style="margin: -18.75rem; border-radius: 6.25rem; opacity: 1;">
                        <div style="margin: 6.25rem 0rem"></div>
                        <div class="conatiner-fluid">
                            <div class="row">
                                <div class="col-lg-2 col-sm-2"></div>
                                <div class="col-lg-8 col-sm-8 padding-sides">
                                    <h3 style="padding: 3.2rem 0rem 0.6rem 0rem;"><b>HARRY HOLLIES</b></h3>
                                    <p class="padding-sides">By day i&#8217;m a HGV driver, by night i&#8217;m learning to be a programmer.
                                        I consider myself to be hard-working, well educated and reliable. I am very
                                        good at problem solving and enjoy the challenge of finding a solution to a
                                        problem infront of me! After leaving high school at 16 i went into the family
                                        business of ply-lining commercial vehicles. I spent 7 years doing this
                                        before changing my career and started my current job as a HGV driver. In my
                                        spare time i am currently doing an online course CS50X with
                                        <a href="https://home.edx.org/" rel="Edx" style="color: blue;">Harvard University</a>
                                        to try and expand my knowledge and possibly start a new career path in coding!
                                    </p>
                                </div>
                                <div class="col-lg-2 col-sm-2"></div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row" style="padding: 3.2rem 0rem">
                                <div class="col-sm-6" style="text-align: center">
                                    <p><b><u>Work</u></b></p>
                                    <p>Hollies Logistics Ltd</p>
                                </div>
                                <div class="col-sm-6" style="text-align: center">
                                    <p><b><u>Education</u></b></p>
                                    <p>Berry Hill High</p>
                                    <p>Newcastle College</p>
                                    <p>Edx (Harvard Online)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-1"></div>
            </div>
            </div>
        </main>
{% endblock %}