{% extends "layout.html" %}

{% block main %}
        <main class="index-main" style="padding: 0rem 0rem 3.2rem 0rem">
            <div class="container-fluid">
                <div class="row" style="font-family: Georgia, serif;">
                    <div class="col-lg-3 col-sm-1"></div>
                    <div class="col-lg-6 col-sm-10">
                        <div style="padding: 6.25rem 0rem;"></div>
                        <div style="text-align: center; padding: 0rem 0rem 0rem 0rem; background-color: #ffffff; border-radius: 1.5rem;">
                            <img src="static/homepage-images/hll-logo.png" alt="hll-logo" width="200" height="200" style="margin: -18.75rem; border-radius: 6.25rem; opacity: 1; border: 2px solid #000000">
                            <div style="margin: 6.25rem 0rem"></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-2 col-sm-2"></div>
                                    <div class="col-lg-8 col-sm-8 padding-sides">
                                        <h3 style="padding: 3.2rem 0rem 0.6rem 0rem;"><b>Hollies Logistics LTD</b></h3>
                                        <p>I&#8217;m the director of Hollies Logistics LTD, and i provide
                                            proffesional driving solutions within the transport industry,
                                            with over 10 years experience in:
                                        </p>
                                            <ul style="text-align: left">
                                                <li>General Haulage</li>
                                                <li>Temperature Controlled</li>
                                                <li>Tankers</li>
                                                <li>Tail Lifts</li>
                                                <li>Moffet</li>
                                                <li>ADR</li>
                                            </ul>
                                        <p>
                                            By hiring my services you are getting a proffesional, well
                                            experienced driver and you can rest at ease knowing the
                                            job will be completed on time and safely!
                                        </p>
                                    </div>
                                    <div class="col-lg-2 col-sm-2"></div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row" style="padding: 3.2rem 0rem">
                                    <div class="col-sm-4" style="text-align: center; padding: 0.5rem 0rem;">
                                        <img src="static/homepage-images/gist.jpeg" alt="Gist" width="120" height="120" style="border-radius: 60px; opacity: 1; border: 2px solid #000000">
                                    </div>
                                    <div class="col-sm-4" style="text-align: center; padding: 0.5rem 0rem;">
                                        <img src="static/homepage-images/tanker.jpg" alt="Tanker" width="120" height="120" style="border-radius: 60px; opacity: 1; border: 2px solid #000000">
                                    </div>
                                    <div class="col-sm-4" style="text-align: center; padding: 0.5rem 0rem;">
                                        <img src="static/homepage-images/dale-brothers.jpg" alt="Dale-brothers" width="120" height="120" style="border-radius: 60px; opacity: 1; border: 2px solid #000000">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-1"></div>
                </div>
            </div>
        </main>
{% endblock %}