{% extends "layout.html" %}

{% block main %}
<main class="index-main">
<div class="space"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 col-sm-12 padding-index-bio">
                <p class="p2">Hello, it's me</p>
                <div class="p3">Harry Hollies<span style="color:#c91224">.</span></div><br>
                <p class="p4">
                    I&#8217;m a self-employed HGV driver<br>
                    with over 10 years experience.<br>
                    I&#8217;m currently studying computer<br>
                    science online with CS50, trying<br>
                    to learn some new skills!
                </p>
            </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4 padding-img-bio">
                    <div class="container-fluid">
                        <div class="row margin-t-b">
                            <div class="col-lg-3 col-4 column-align"><img class="img-logo" src="static/homepage-images/python-logo.png" alt="python-logo"></div>
                            <div class="col-lg-3 col-4 column-align"><img class="img-logo" src="static/homepage-images/c-lang-logo.png" alt="c-lang-logo"></div>
                            <div class="col-lg-3 col-4 column-align"><img class="img-logo" src="static/homepage-images/vs-code-logo.png" alt="python-logo"></div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row margin-t-b">
                            <div class="col-lg-3 col-4 column-align"></div>
                            <div class="col-lg-3 col-4 column-align"><img class="img-logo" src="static/homepage-images/html-css-logo.png" alt="python-logo"></div>
                            <div class="col-lg-3 col-4 column-align"><img class="img-logo" src="static/homepage-images/sqlite-logo.png" alt="python-logo"></div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row margin-t-b">
                            <div class="col-lg-3 col-4 column-align"></div>
                            <div class="col-lg-3 col-4 column-align"></div>
                            <div class="col-lg-3 col-4 column-align"><img class="img-logo" src="static/homepage-images/java-logo.png" alt="python-logo"></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</main>
{% endblock %}
